In [20]:
import pandas as pd
from functions import namer,namer1
import numpy as np

In [8]:
F1 = "john"
F2 = "kamau"

In [9]:
def chooser(F1,F2):
    X =namer(F1)
    Y =namer1(F2)
    if X[1]>Y[1]:
        return(X[0])
    else:
        return(Y[0])

In [10]:
chooser(F1,F2)

'male'

In [15]:
df = pd.read_csv('mergedfinalstats.csv')
df["Merchant's Name"].head()

0    JACOB KOMO MAINA
1    JACOB KOMO MAINA
2    JACOB KOMO MAINA
3    JACOB KOMO MAINA
4    JACOB KOMO MAINA
Name: Merchant's Name, dtype: object

In [129]:
x = df[df.columns[df.columns.str.contains("Gender")]]
dt = pd.DataFrame(df["Merchant's Name"])
dt['gender'] = pd.Series(x.columns[np.where(x!=0)[1]])
dt['gender'] = list(map(lambda x:str(x).replace('Gender_','').replace(',',""),dt['gender']))
dt.head()

    Merchant's Name gender
0  JACOB KOMO MAINA   Male
1  JACOB KOMO MAINA   Male
2  JACOB KOMO MAINA   Male
3  JACOB KOMO MAINA   Male
4  JACOB KOMO MAINA   Male

In [130]:
def clean(name):
    name = str(name).lower().replace(',',"").split(' ')
    try:
        choose = chooser(name[0],name[1])
        return choose.capitalize()
    except:
        return 'error'
dt['Guess'] = list(map(clean,dt["Merchant's Name"]))

In [131]:
dt.head()

    Merchant's Name gender Guess
0  JACOB KOMO MAINA   Male  Male
1  JACOB KOMO MAINA   Male  Male
2  JACOB KOMO MAINA   Male  Male
3  JACOB KOMO MAINA   Male  Male
4  JACOB KOMO MAINA   Male  Male

In [132]:
print(dt.gender.value_counts())
print(dt.Guess.value_counts())

Male      585
Female    271
nan         1
Name: gender, dtype: int64
Male      513
Female    274
error      70
Name: Guess, dtype: int64

In [137]:
from sklearn.metrics import confusion_matrix as cm,accuracy_score as ac
dt[dt.Guess =='error'] =np.nan
dt = dt.dropna()
print(cm(dt['gender'],dt['Guess']))
print(ac(dt['gender'],dt['Guess']))

[[226  18]
 [ 48 495]]
0.9161372299872935

In [135]:
pd.set_option('display.max_rows', 70)
x1 = dt[dt.gender != dt.Guess]
x1["Merchant's Name"]

11           Boro Mary Wanjiru
12           Boro Mary Wanjiru
13           Boro Mary Wanjiru
14           Boro Mary Wanjiru
15           Boro Mary Wanjiru
16           Boro Mary Wanjiru
17           Boro Mary Wanjiru
18           Boro Mary Wanjiru
19           Boro Mary Wanjiru
20           Boro Mary Wanjiru
21           Boro Mary Wanjiru
22           Boro Mary Wanjiru
23           Boro Mary Wanjiru
24           Boro Mary Wanjiru
25           Boro Mary Wanjiru
26           Boro Mary Wanjiru
214      Maurice Mwanzia Nguta
215      Maurice Mwanzia Nguta
255        Edicah Walter Charo
256        Edicah Walter Charo
257        Edicah Walter Charo
258        Edicah Walter Charo
259        Edicah Walter Charo
260        Edicah Walter Charo
261        Edicah Walter Charo
262        Edicah Walter Charo
263        Edicah Walter Charo
264        Edicah Walter Charo
265        Edicah Walter Charo
266        Edicah Walter Charo
269        Grace Wambui Mwangi
306            Kirui K Patrick
362      Francis Mwangi Kimani
363      Francis Mwangi Kimani
409    Everlyn Wanjiru Muriuki
410    Everlyn Wanjiru Muriuki
484     BRIAN KIPNGETICH MAIYO
485     BRIAN KIPNGETICH MAIYO
486     BRIAN KIPNGETICH MAIYO
487     BRIAN KIPNGETICH MAIYO
488     BRIAN KIPNGETICH MAIYO
489     BRIAN KIPNGETICH MAIYO
490     BRIAN KIPNGETICH MAIYO
517       FRIDAH MUKAMI KIUMBE
569      Denis njoroge Kimotho
570      Denis njoroge Kimotho
571      Denis njoroge Kimotho
572      Denis njoroge Kimotho
652        Brian Onyango Ohuru
653        Brian Onyango Ohuru
690      Francis Njuguna Ngugi
729           LUL ABDI MOHAMED
730           LUL ABDI MOHAMED
786    Augostine Githinji Komu
787    Augostine Githinji Komu
788    Augostine Githinji Komu
789    Augostine Githinji Komu
790    Augostine Githinji Komu
791    Augostine Githinji Komu
792    Augostine Githinji Komu
793    Augostine Githinji Komu
794    Augostine Githinji Komu
835       Eugine Opanyi Omondi
836       Eugine Opanyi Omondi
843       Francis Gachoka Thuo
853       Brian mutiso musyoka
Name: Merchant's Name, dtype: object

In [136]:
x1

             Merchant's Name  gender   Guess
11         Boro Mary Wanjiru  Female    Male
12         Boro Mary Wanjiru  Female    Male
13         Boro Mary Wanjiru  Female    Male
14         Boro Mary Wanjiru  Female    Male
15         Boro Mary Wanjiru  Female    Male
16         Boro Mary Wanjiru  Female    Male
17         Boro Mary Wanjiru  Female    Male
18         Boro Mary Wanjiru  Female    Male
19         Boro Mary Wanjiru  Female    Male
20         Boro Mary Wanjiru  Female    Male
21         Boro Mary Wanjiru  Female    Male
22         Boro Mary Wanjiru  Female    Male
23         Boro Mary Wanjiru  Female    Male
24         Boro Mary Wanjiru  Female    Male
25         Boro Mary Wanjiru  Female    Male
26         Boro Mary Wanjiru  Female    Male
214    Maurice Mwanzia Nguta    Male  Female
215    Maurice Mwanzia Nguta    Male  Female
255      Edicah Walter Charo    Male  Female
256      Edicah Walter Charo    Male  Female
257      Edicah Walter Charo    Male  Female
258      Edicah Walter Charo    Male  Female
259      Edicah Walter Charo    Male  Female
260      Edicah Walter Charo    Male  Female
261      Edicah Walter Charo    Male  Female
262      Edicah Walter Charo    Male  Female
263      Edicah Walter Charo    Male  Female
264      Edicah Walter Charo    Male  Female
265      Edicah Walter Charo    Male  Female
266      Edicah Walter Charo    Male  Female
269      Grace Wambui Mwangi  Female    Male
306          Kirui K Patrick    Male  Female
362    Francis Mwangi Kimani    Male  Female
363    Francis Mwangi Kimani    Male  Female
409  Everlyn Wanjiru Muriuki    Male  Female
410  Everlyn Wanjiru Muriuki    Male  Female
484   BRIAN KIPNGETICH MAIYO    Male  Female
485   BRIAN KIPNGETICH MAIYO    Male  Female
486   BRIAN KIPNGETICH MAIYO    Male  Female
487   BRIAN KIPNGETICH MAIYO    Male  Female
488   BRIAN KIPNGETICH MAIYO    Male  Female
489   BRIAN KIPNGETICH MAIYO    Male  Female
490   BRIAN KIPNGETICH MAIYO    Male  Female
517     FRIDAH MUKAMI KIUMBE  Female    Male
569    Denis njoroge Kimotho    Male  Female
570    Denis njoroge Kimotho    Male  Female
571    Denis njoroge Kimotho    Male  Female
572    Denis njoroge Kimotho    Male  Female
652      Brian Onyango Ohuru    Male  Female
653      Brian Onyango Ohuru    Male  Female
690    Francis Njuguna Ngugi    Male  Female
729         LUL ABDI MOHAMED    Male  Female
730         LUL ABDI MOHAMED    Male  Female
786  Augostine Githinji Komu    Male  Female
787  Augostine Githinji Komu    Male  Female
788  Augostine Githinji Komu    Male  Female
789  Augostine Githinji Komu    Male  Female
790  Augostine Githinji Komu    Male  Female
791  Augostine Githinji Komu    Male  Female
792  Augostine Githinji Komu    Male  Female
793  Augostine Githinji Komu    Male  Female
794  Augostine Githinji Komu    Male  Female
835     Eugine Opanyi Omondi    Male  Female
836     Eugine Opanyi Omondi    Male  Female
843     Francis Gachoka Thuo    Male  Female
853     Brian mutiso musyoka    Male  Female